global:
  scrape_interval: 5s
  scrape_timeout: 5s
  evaluation_interval: 5s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []
      scheme: http
      timeout: 10s
      api_version: v1

scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    scrape_interval: 5s
    scrape_timeout: 2s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "myapi-metrics-job"
    honor_timestamps: true
    scrape_interval: 5s
    scrape_timeout: 2s
    metrics_path: /metrics
    dns_sd_configs:
      - names:
          - api
        type: A
        port: 80
